* {
    margin: 0;
    padding: 0;
}

div:after, ol:after, form:after, ul:after, dl:after,  #blog_list ul li:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: #FEF300;
}

a {
    color: #44698d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
** Wrapper
*/

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

/*
** Main navigation
*/

ul#main_navigation {
	list-style: none;
	
	border-radius: 10px 10px 0 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 1%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 1%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

ul#main_navigation > li {
	float: left;
	
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
}

ul#main_navigation > li:first-child {
	border-left: 0;
}

ul#main_navigation > li:first-child > a {
	border-radius: 10px 0 0 0;
}

ul#main_navigation > li > a {
	padding: 20px 15px;
	display: block;
	
	color: #444;
	font-size: 16px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	text-decoration: none;
}

ul#main_navigation > li > a:hover {
	color: #000;
	background: rgba(0, 0, 0, 0.05);
}

ul#main_navigation > li.search {
	border-right: 0;
	text-align: right;
}

ul#main_navigation > li.search form {
	padding: 16px 15px;	
}

ul#main_navigation > li.search form label {
	margin: 4px 0 0 8px;
	display: block;
	position: absolute;
	
	color: #999;
	font-size: 16px;
}

ul#main_navigation > li.search form input#search_text {
	padding: 5px;
	line-height: 0;
	width: 320px;
	
	color: #444;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-top-color: #999;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul#main_navigation > li.search form input#search_text:focus {
	outline: none;
}

ul#main_navigation > li.search form input#search_button {
	margin: -30px 0 0 290px;
	display: block;
	position: absolute;
	overflow: hidden;
	width: 30px;
	height: 30px;
	
	cursor: pointer;
	border: 0;
	text-indent: 999px;
	background: transparent url("../images/search_icon_32.png") no-repeat center;
}

ul#main_navigation > li > ul {
	display: none;
}

/*
** Content
*/

#content {
	padding: 20px;

	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*
** Highlights
*/

#highlights ul.slides {
	list-style: none;
}

#highlights ul.slides > li {
	height: 200px;
	
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#highlights .previous, #highlights .next {
	position: absolute;
	overflow: hidden;
	text-indent: 999px;
	display: block;
	width: 38px;
	height: 72px;
	
	background: red;
}

#highlights .previous {
	margin: -130px 0 0 -40px;
	
	background: url("../images/previous_38.png") no-repeat center;
}

#highlights .next {
	margin: -130px 0 0 965px;
	
	background: url("../images/next_38.png") no-repeat center;
}

#highlights ul.slides_page { 
	margin: 10px auto 0 auto;
	width: 94px;
	
	list-style: none;
}

#highlights ul.slides_page li {
	margin-left: 10px;
	float: left;
	overflow: hidden;
	text-indent: 999px;
	width: 16px;
	height: 16px;
	
	cursor: pointer;
	border-radius: 18px;
	background: #ddd;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

#highlights ul.slides_page li:first-child {
	margin-left: 0;
}

#highlights ul.slides_page li.active, #highlights ul.slides_page li:hover {
	background: #ccc;
}

/*
** Main content
*/

#main_content {
	margin-top: 30px;
}

/* Sections */

#main_content .section {
	margin-left: 30px;
	float: left;
	width: 300px;
}

#main_content .section:first-child {
	margin-left: 0;
}

#main_content .section h2 {
	margin-bottom: 10px;
	padding: 10px;
	
	color: #fff;
	font-family: Georgia, Times, serif;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 0 1px 5px #000;
	text-align: center;
	border-radius: 5px;
	border: 5px solid #fff;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #727272 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#727272)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000000 0%,#727272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000000 0%,#727272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000000 0%,#727272 100%); /* IE10+ */
	background: linear-gradient(top, #000000 0%,#727272 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#main_content .section ul {
	padding: 5px;

	list-style: none;
}

#main_content .section ul > li {
	padding: 5px 0;
	
	border-bottom: 1px dashed #ccc;
}

#main_content .section ul > li > h3 {
	font-size: 16px;
	font-weight: bold;
}

#main_content .section ul > li > .info {
	font-size: 13px;
}

#main_content .section ul > li > .info .date {
	font-family: Georgia;
	font-style: italic;
}

#main_content .section .more {
	margin-left: 5px;
	padding-left: 20px;

	font-size: 12px;
	background: url("../images/more_icon_12.png") no-repeat left center;
}

/*
** Sidebar
*/

#sidebar .section {
	margin: 0 -20px;
	padding: 20px;
}

/*
** Ideas section
*/

#ideas_section {
	margin-top: 20px !important;

	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #727272 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#727272)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000000 0%,#727272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000000 0%,#727272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000000 0%,#727272 100%); /* IE10+ */
	background: linear-gradient(top, #000000 0%,#727272 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#727272',GradientType=0 ); /* IE6-9 */
}

#ideas_section h2 {
	margin-bottom: 10px;
	padding-bottom: 20px;

	color: #FFF300;
	font-family: Georgia, Times, serif;
	font-size: 26px;
	font-weight: normal;
}

#ideas_section ul > li {
	margin-left: 10px;
	float: left;
	width: 222px;
	height: 100px;
	
	border: 5px solid #fff;
	background: #ddd;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#ideas_section ul > li > a {
	padding: 0 10px 5px 0;
	display: block;
	float: left;

	font-size: 14px;
	background: #fff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#ideas_section ul > li:first-child {
	margin-left: 0;
}

/*
** States section
*/

#states_section {
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top, #e0e0e0 0%, #ffffff 19%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(19%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0e0e0 0%,#ffffff 19%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0e0e0 0%,#ffffff 19%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e0e0e0 0%,#ffffff 19%); /* IE10+ */
	background: linear-gradient(top, #e0e0e0 0%,#ffffff 19%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#states_section h2 {
	margin-bottom: 10px;
	padding-bottom: 20px;

	color: #222;
	font-family: Georgia, Times, serif;
	font-size: 26px;
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px dashed #999;
}

#states_section > ul {
	float: right;
	width: 600px;
	
	list-style: none;
}

#states_section > ul > li {
	margin: 0 0 5px 5px;
	float: left;
}

#states_section > ul > li  a {
	padding: 5px;
	display: block;
	width: 183px;
	
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-bottom-color: #999;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 53%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 53%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 53%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 53%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 53%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.05),
				0 2px 5px rgba(0, 0, 0, 0.2);
}

